<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SWEEPLY.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SweeplyWIdgetsExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9743F9F2F87116D0075413E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9D0783C2F7E357300E31AC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9D0784D2F7E357400E31AC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9D078572F7E357400E31AC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
