<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<array/>
	<key>images</key>
	<array>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameAndroid</string>
			<key>relativePath</key>
			<string>./android.imageset</string>
			<key>swiftSymbol</key>
			<string>android</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameApple</string>
			<key>relativePath</key>
			<string>./apple.imageset</string>
			<key>swiftSymbol</key>
			<string>apple</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameAttachMoney</string>
			<key>relativePath</key>
			<string>./attach_money.imageset</string>
			<key>swiftSymbol</key>
			<string>attachMoney</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameAttachment</string>
			<key>relativePath</key>
			<string>./attachment.imageset</string>
			<key>swiftSymbol</key>
			<string>attachment</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameBarChart</string>
			<key>relativePath</key>
			<string>./bar_chart.imageset</string>
			<key>swiftSymbol</key>
			<string>barChart</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameBookmark</string>
			<key>relativePath</key>
			<string>./bookmark.imageset</string>
			<key>swiftSymbol</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameBookmarkNoFill</string>
			<key>relativePath</key>
			<string>./bookmark_no_fill.imageset</string>
			<key>swiftSymbol</key>
			<string>bookmarkNoFill</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameCalendarToday</string>
			<key>relativePath</key>
			<string>./calendar_today.imageset</string>
			<key>swiftSymbol</key>
			<string>calendarToday</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameChatBubble</string>
			<key>relativePath</key>
			<string>./chat_bubble.imageset</string>
			<key>swiftSymbol</key>
			<string>chatBubble</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameCheckCircle</string>
			<key>relativePath</key>
			<string>./check_circle.imageset</string>
			<key>swiftSymbol</key>
			<string>checkCircle</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameClose</string>
			<key>relativePath</key>
			<string>./close.imageset</string>
			<key>swiftSymbol</key>
			<string>close</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameCollapse</string>
			<key>relativePath</key>
			<string>./collapse.imageset</string>
			<key>swiftSymbol</key>
			<string>collapse</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameCompare</string>
			<key>relativePath</key>
			<string>./compare.imageset</string>
			<key>swiftSymbol</key>
			<string>compare</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/Media.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameDefaultPaywall</string>
			<key>relativePath</key>
			<string>./default-paywall.imageset</string>
			<key>swiftSymbol</key>
			<string>defaultPaywall</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameDownload</string>
			<key>relativePath</key>
			<string>./download.imageset</string>
			<key>swiftSymbol</key>
			<string>download</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameEdit</string>
			<key>relativePath</key>
			<string>./edit.imageset</string>
			<key>swiftSymbol</key>
			<string>edit</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameEmail</string>
			<key>relativePath</key>
			<string>./email.imageset</string>
			<key>swiftSymbol</key>
			<string>email</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameError</string>
			<key>relativePath</key>
			<string>./error.imageset</string>
			<key>swiftSymbol</key>
			<string>error</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameExperiments</string>
			<key>relativePath</key>
			<string>./experiments.imageset</string>
			<key>swiftSymbol</key>
			<string>experiments</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameExtension</string>
			<key>relativePath</key>
			<string>./extension.imageset</string>
			<key>swiftSymbol</key>
			<string>`extension`</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameFileCopy</string>
			<key>relativePath</key>
			<string>./file_copy.imageset</string>
			<key>swiftSymbol</key>
			<string>fileCopy</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameFilterList</string>
			<key>relativePath</key>
			<string>./filter_list.imageset</string>
			<key>swiftSymbol</key>
			<string>filterList</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameFolder</string>
			<key>relativePath</key>
			<string>./folder.imageset</string>
			<key>swiftSymbol</key>
			<string>folder</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameGlobe</string>
			<key>relativePath</key>
			<string>./globe.imageset</string>
			<key>swiftSymbol</key>
			<string>globe</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameHelp</string>
			<key>relativePath</key>
			<string>./help.imageset</string>
			<key>swiftSymbol</key>
			<string>help</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameInsertDriveFile</string>
			<key>relativePath</key>
			<string>./insert_drive_file.imageset</string>
			<key>swiftSymbol</key>
			<string>insertDriveFile</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameKey</string>
			<key>relativePath</key>
			<string>./key.imageset</string>
			<key>swiftSymbol</key>
			<string>key</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameLaunch</string>
			<key>relativePath</key>
			<string>./launch.imageset</string>
			<key>swiftSymbol</key>
			<string>launch</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameLayers</string>
			<key>relativePath</key>
			<string>./layers.imageset</string>
			<key>swiftSymbol</key>
			<string>layers</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameLineChart</string>
			<key>relativePath</key>
			<string>./line_chart.imageset</string>
			<key>swiftSymbol</key>
			<string>lineChart</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameLock</string>
			<key>relativePath</key>
			<string>./lock.imageset</string>
			<key>swiftSymbol</key>
			<string>lock</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameNotification</string>
			<key>relativePath</key>
			<string>./notification.imageset</string>
			<key>swiftSymbol</key>
			<string>notification</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNamePerson</string>
			<key>relativePath</key>
			<string>./person.imageset</string>
			<key>swiftSymbol</key>
			<string>person</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNamePhone</string>
			<key>relativePath</key>
			<string>./phone.imageset</string>
			<key>swiftSymbol</key>
			<string>phone</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNamePlayCircle</string>
			<key>relativePath</key>
			<string>./play_circle.imageset</string>
			<key>swiftSymbol</key>
			<string>playCircle</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNamePlus</string>
			<key>relativePath</key>
			<string>./plus.imageset</string>
			<key>swiftSymbol</key>
			<string>plus</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameRemoveRedEye</string>
			<key>relativePath</key>
			<string>./remove_red_eye.imageset</string>
			<key>swiftSymbol</key>
			<string>removeRedEye</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameSearch</string>
			<key>relativePath</key>
			<string>./search.imageset</string>
			<key>swiftSymbol</key>
			<string>search</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameShare</string>
			<key>relativePath</key>
			<string>./share.imageset</string>
			<key>swiftSymbol</key>
			<string>share</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameSmartphone</string>
			<key>relativePath</key>
			<string>./smartphone.imageset</string>
			<key>swiftSymbol</key>
			<string>smartphone</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameStackedBar</string>
			<key>relativePath</key>
			<string>./stacked_bar.imageset</string>
			<key>swiftSymbol</key>
			<string>stackedBar</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameStars</string>
			<key>relativePath</key>
			<string>./stars.imageset</string>
			<key>swiftSymbol</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameSubtract</string>
			<key>relativePath</key>
			<string>./subtract.imageset</string>
			<key>swiftSymbol</key>
			<string>subtract</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameTick</string>
			<key>relativePath</key>
			<string>./tick.imageset</string>
			<key>swiftSymbol</key>
			<string>tick</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameTransfer</string>
			<key>relativePath</key>
			<string>./transfer.imageset</string>
			<key>swiftSymbol</key>
			<string>transfer</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameTwoWayArrows</string>
			<key>relativePath</key>
			<string>./two_way_arrows.imageset</string>
			<key>swiftSymbol</key>
			<string>twoWayArrows</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/.derivedData/SourcePackages/checkouts/purchases-ios-spm/RevenueCatUI/Resources/icons.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameWarning</string>
			<key>relativePath</key>
			<string>./warning.imageset</string>
			<key>swiftSymbol</key>
			<string>warning</string>
		</dict>
	</array>
	<key>symbols</key>
	<array/>
</dict>
</plist>
