<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<array>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/SWEEPLY/SWEEPLY/Assets.xcassets</string>
			<key>objcSymbol</key>
			<string>ACColorNameLaunchBackground</string>
			<key>relativePath</key>
			<string>./LaunchBackground.colorset</string>
			<key>swiftSymbol</key>
			<string>launchBackground</string>
		</dict>
	</array>
	<key>images</key>
	<array>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/SWEEPLY/SWEEPLY/Assets.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameAllSetImage</string>
			<key>relativePath</key>
			<string>./AllSetImage.imageset</string>
			<key>swiftSymbol</key>
			<string>allSet</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/SWEEPLY/SWEEPLY/Assets.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameGetStartedBG</string>
			<key>relativePath</key>
			<string>./GetStartedBG.imageset</string>
			<key>swiftSymbol</key>
			<string>getStartedBG</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/SWEEPLY/SWEEPLY/Assets.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameIntroOnboardingHero</string>
			<key>relativePath</key>
			<string>./IntroOnboardingHero.imageset</string>
			<key>swiftSymbol</key>
			<string>introOnboardingHero</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/SWEEPLY/SWEEPLY/Assets.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameLocationImage</string>
			<key>relativePath</key>
			<string>./LocationImage.imageset</string>
			<key>swiftSymbol</key>
			<string>location</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/SWEEPLY/SWEEPLY/Assets.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameLoginBackground</string>
			<key>relativePath</key>
			<string>./LoginBackground.imageset</string>
			<key>swiftSymbol</key>
			<string>loginBackground</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/SWEEPLY/SWEEPLY/Assets.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameMascotSweeply</string>
			<key>relativePath</key>
			<string>./MascotSweeply.imageset</string>
			<key>swiftSymbol</key>
			<string>mascotSweeply</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/SWEEPLY/SWEEPLY/Assets.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameNotificationsImage</string>
			<key>relativePath</key>
			<string>./NotificationsImage.imageset</string>
			<key>swiftSymbol</key>
			<string>notifications</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/SWEEPLY/SWEEPLY/Assets.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameSignupImage</string>
			<key>relativePath</key>
			<string>./SignupImage.imageset</string>
			<key>swiftSymbol</key>
			<string>signup</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/SWEEPLY/SWEEPLY/Assets.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameSplashLogo</string>
			<key>relativePath</key>
			<string>./SplashLogo.imageset</string>
			<key>swiftSymbol</key>
			<string>splashLogo</string>
		</dict>
		<dict>
			<key>catalogPath</key>
			<string>/Users/joaoleite/Desktop/SWEEPLYIOSAPP/SWEEPLY/SWEEPLY/Assets.xcassets</string>
			<key>objcSymbol</key>
			<string>ACImageNameSweeplyLogo</string>
			<key>relativePath</key>
			<string>./SweeplyLogo.imageset</string>
			<key>swiftSymbol</key>
			<string>sweeplyLogo</string>
		</dict>
	</array>
	<key>symbols</key>
	<array/>
</dict>
</plist>
