<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://vxlbfwcpzkzxwkitogxg.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ4bGJmd2Nwemt6eHdraXRvZ3hnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NTQzNDMsImV4cCI6MjA4OTMzMDM0M30.OyYUtxD8pkxE0SNGV4Y_R-Wz8lh4nQkiENCA_fIsBRk</string>
</dict>
</plist>
